h1 {
    padding: 0;
    width: 100%;
    background-color: white;
    opacity: 0.6;

}


.whitebackground {
    opacity: 0.6;
}

.jumbotron-fluid {
    text-align: center;
    height: 50px;
    width: 770px;
    overflow: auto;
    margin-bottom: 50px;
}

img {
    width: 100%;
}

* {
    box-sizing: border-box;
}



