* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}
.row {
    width: 100%;
}

.row:after {
    display: table;
    clear: both;
    contant:""
}

.column.one-half {
    width: 50%;
}

.column.one-third {
    width: 33.33%;
}

.column.one-fourth {
    width: 25%;
}

.column.one-sixth {
    width: 16.66%;
}

.column.one-eighth {
    width: 12.5%;
}

.column {
    float: left;
    border: 1px solid black;
    padding: 5px;
}


@media screen and (max-width: 768px) {
    .column.one-half, .column.one-third, .column.one-fourth, .column.one-sixth, .column.one-eighth {
        width: 100%;
    }
}