
body {
    font-family: arial;
    margin: 1% 2%;
}

h1 {
    text-align: center;
    font-size: 3em;
}

nav {
    text-align: center;
}

ul {
    padding: 0;
}


li {
    list-style: none;
    background-color: #ddd;
    margin-bottom: 10px;
    padding: 0px;
}

footer {
    margin-top: 200px;
    clear: both;
}

li>a {
    display: block;
    padding: 20px 0;
}

.hidden-on-mobile {
    text-align: center;
    margin-top: 30px;
}

.hidden-on-mobile a {
    background-color: azure;
    padding: 20px 0;
    display: block;
    font-style: normal;
    border: 1px solid grey;
}

.hidden-on-mobile a:visited, .hidden-on-mobile a:link {
    text-decoration: none;
}

.hidden-on-desktop {
    border: 1px solid grey;
    background-color: aqua;
    padding: 10px;
    text-align: center;
}

.sub-section {
    margin-top: 50px;
    font-style: italic;
    float: left;
}

.main>p {
    padding-right: 40px;
    float: left;
}

@media screen and (min-width:768px) {
    h1 {
        text-align: left;
        font-size: 2.5em;
        float: left;
    }
    img {
        margin-top: 40px;
    }
    nav {
        float: right;
    }
    li {
        float: left;
        margin-left: 30px;
        list-style: none;
        padding: 0;
        background-color: white;
    }
    section {
        float: left;
    }

    .sub-section {
        margin-top: 0;
    }
    .hidden-on-desktop {
        display: none;
    }
    footer {
        margin-top: 200px;
        clear: both;
    }
}
